.accept-container
{
    margin-top:10px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(59, 57, 57, 0.6);
    animation-duration: 1s;
}
.accept-restoran
{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 550;
    color: #173233;
}
.accept-loading
{
    width: 100%;
    padding: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #173233;
}
.loading-message
{
    width: 100%;
    color: black;
}
.loading-message p
{
    width: 80%;
    margin: auto;
    text-align: center;
}
.loading-circle
{
    padding: 20px;
    width: 100%;
    
}
.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.accept-napomena
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#af0c0c;
}
.accept-napomena p
{
    text-align: center;
    margin-bottom: 0;
}

@media screen and (min-width : 50px)
{
    .loader
    {
        width: 60px;
        height: 60px;
    }
    .accept-napomena
    {
        font-size: 14px;
        font-weight: 500;
        padding: 18px;
    }
    .loading-message
    {
        padding: 18px;
        font-size: 14px;
        font-weight: 500;
    }
    .response
    {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color:black;
        padding: 18px;
    }
    .accept-btn-reject
    {
        font-size: 14px;
        font-weight: 500;
    }
    .accept-btn-accept
    {
        font-size: 14px;
        font-weight: 500;
    }
    .accept-buttons
    {
        display: grid;
        grid-template-areas: "accept" "reject";
    }
    .accept-btn-accept
    {
        grid-area: accept;
        width: 100%;
    }
    .accept-btn-reject
    {
        grid-area: reject;
        width: 100%;
        margin-top: 12px;
    }
}
@media screen and (min-width : 350px)
{
    .accept-buttons
    {
        display: flex;
        justify-content: space-between;
    }
    .accept-btn-accept
    {
        width: 48%;
    }
    .accept-btn-reject
    {
        width: 48%;
        margin-top: 2px;
    }
}
@media screen and (min-width: 450px)
{
    .loader
    {
        width: 80px;
        height: 80px;
    }
    .accept-napomena
    {
        font-size: 16px;
        font-weight: 500;
        padding: 20px;
    }
    .loading-message
    {
        padding: 20px;
        font-size: 16px;
        font-weight: 500;
    }
    .response
    {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        color:black;
        padding: 20px;
    }
    .accept-btn-reject
    {
        font-size: 16px;
        font-weight: 500;
    }
    .accept-btn-accept
    {
        font-size: 16px;
        font-weight: 500;
    }
}  

.hider
{
    display: none;
}
.response-message
{
    width : 100%;
}
.response-message p
{
    width : 100%;
    text-align: center;
    margin-bottom: 0px;
}
.delivery-time
{
    width: 100%;
    padding: 10px;
}
.delivery-time p
{
    width: 100%;
    text-align: center;
    font-weight: 700;
    color:#4CAF50 ;
    font-size: 24px;
    margin:20px 0 0 20px;
}
.accept-buttons
{
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
}

.accept-btn-accept
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(59, 57, 57, 0.6);
    background-color: #4CAF50;
    
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}         
.accept-btn-reject
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(59, 57, 57, 0.6);
    background-color: #f44336;
    
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 4px;
    margin-left: 2px;
    cursor: pointer;
}
.invisible
{
    visibility: hidden;
}
.thanks
{
    width: 100%;
    padding: 20px;
    text-align: center;

}
.thanks p
{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}
.thanks button
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.finish-btn-container
{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-finish
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(59, 57, 57, 0.6);
    background-color: #4CAF50;
    width: 50%;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}


